<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/grahammcvea-dof/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="GrahamMcVea-dof" />
            <add key="ClearTextPassword" value="105f14caa2d6b1f571d6815c0e5e62a1ea8b202b" />
        </github>
    </packageSourceCredentials>
</configuration>